@using E_Commerce.MvcWebUI.Models;
@model IEnumerable<ProductModel>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
            <div class="card">
                <img class="card-img-top m_img" src="~/Upload/@product.Image" alt="@product.Name">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/Home/Details/@product.Id">@product.Name</a>
                    </h4>
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-5">
                            <small class="text-muted product-price">
                                <i class="fas fa-dollar-sign"></i>
                                @product.Price
                            </small>
                        </div>
                        <div class="col-md-7">
                            <a href="/Home/Details/@product.Id" class="btn btn-success w-100 product-button">See Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
